@charset "UTF-8";

.icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
}
.icon-alarm{
    mask-image: url(./alarm.svg);
    -webkit-mask-image: url(./alarm.svg);
}
