
.video-slide-img {
    border-radius: 20px;
    width: 494px;
    height: 276px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0px 5px 20px 0px #00000026;

}

.video-decor {
    background-position: 0 3px;
}

.videoPlayer-video {
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(-1);

}

.video-slide-dropdown {
    max-width: 289px;
    display: flex;
    overflow: auto;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 20px;
    left: -60px;
    background: #FFFFFFB2;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 20px 0px #FFFFFF4D;
    min-height: 60px;
    border-radius: 15px;

}

.video-slide-dropdown p {
    font-size: 15px;
    font-weight: 400;
    line-height: 17.9px;
    color: #000000;
    max-width: 250px;

}

.video-play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) ;
    cursor: pointer;
    z-index: 1;
    backdrop-filter: blur(2px);

}

.convert-video-btn {
    padding: 12px 36px;
    position: absolute;
    right: -20px;
    bottom: 20px;
    z-index: 1;
    max-width: 180px;

}

.video-sub-title {
    margin-top: 20px;
    max-width: 424px;
    width: 100%;
    color: #626262;

}

.ideas-video-media {
    margin-top: 150px;
}

.ideas-main-picture {
    width: 788px;
    height: 439px;
    position: relative;
    border-radius: 30px;
    margin-top: 50px;
    box-shadow: 0px 5px 25px 0px #00000033;
    transform: scaleX(-1);


}

.video-text {
    padding: 15px 20px;
    background: #FFFFFFB2;
    border: 2px solid #FFFFFF80;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 20px 0px #FFFFFF4D;
    border-radius: 15px;
    max-width: 476px;
    width: 100%;
    position: absolute;
    top: 25px;
    transform: scaleX(-1);
    right: -180px;
}

.video-sub-title {
    margin-top: 20px;
    max-width: 424px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}

.video-btn {
    padding: 15px 18px;
    background: #FFFFFFB2;
    border: 2px solid #FFFFFF80;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 20px 0px #FFFFFF4D;
    position: absolute;
    left: 25px;
    top: 25px;
    transform: scaleX(-1);


}

.video-info {
    bottom: 25px;
    max-width: 562px;
    position: absolute;
    left: -200px;
    padding: 15px 20px;
    background: #FFFFFFB2;
    border: 2px solid #FFFFFF80;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 20px 0px #FFFFFF4D;
    border-radius: 15px;
    transform: scaleX(-1);

}

.video-info p {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #000000;
    max-width: 520px;
}

.music-play-tools {
    max-width: 241px;
    background: #FFFFFFB2;
    border: 2px solid #FFFFFF80;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 20px 0px #FFFFFF4D;
    border-radius: 15px;
    padding: 20px 25px;
    position: absolute;
    bottom: 25px;
    right: 25px;
    transform: scaleX(-1);
    gap: 20px;


}

.icon-play, .icon-pause {
    font-size: 24px;
    background: #0057FF;
    cursor: pointer;
}

.videoPlayer-video {
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(-1);

}


@media (max-width: 1400px) {
}


@media (max-width: 1200px) {
    .music-play-tools {
        right: 10px;
    }

    .video-slide-img {
        width: 100%;
        height: 400px;
        border-radius: 25px;

    }

    .convert-video-btn {
        bottom: 8px;
        left: unset;
        right: 10px;
    }

    .music-play-tools {
        right: 10px;
    }

    .video-text {
        right: -200px;
    }

    .ideas-main-picture {
        width: 620px;
    }

    .ideas-video-title {
        text-align: center;
    }



    .ideas-video-media {
        margin-top: 50px;
    }

    .video-decor {
        background-position: center;
    }

    .video-slide-img img {
        border-radius: 25px;
    }

    .video-slide-dropdown {
        right: unset;
        left: 10px;
        top: 10px;
    }

    .video-title,.video-sub-title {
        text-align: center;
    }


}

@media (max-width: 992px) {
    .music-play-tools {
        left: -30px;
        bottom: 120px;

    }

    .music-play-tools {
        left: -30px;
        bottom: 120px;
    }

    .video-sub-title {
        font-size: 10px;
        line-height: 14px;

    }

    .video-btn {
        padding: 15px 15px;
        right: -30px;
        left: unset;
        top: 169px;
    }

    .video-text {
        right: unset;
        left: -40px;
        top: -39px;
        max-width: 236px;

    }

    .video-text p {
        max-width: 200px;
    }

    .video-info {
        max-width: 300px;
        padding: 10px 15px;
        right: -30px;
        left: unset;
        bottom: -30px;
    }


    .video-info p {
        font-size: 10px;
        line-height: 14px;

    }

}

@media (max-width: 768px) {
    .video-slide-dropdown p {
        font-size: 10px;
        line-height: 14px;
        max-width: 167px;

    }

    .ideas-main-picture {
        width: 400px;
    }

    .video-play {
        width: 36px;
        height: 36px;
    }

    .video-slide-dropdown {
        min-height: max-content;
        justify-content: flex-end;

    }
}

@media (max-width: 576px) {
    .music-play-tools {
        padding: 15px 20px;
        max-width: 181px;
        bottom: 150px;
    }

    .video-slide-img {
        height: 170px;
    }

    .icon-play, .icon-pause {
        font-size: 20px;

    }

    .video-title {
        max-width: 259px;
    }

    .video-info {
        right: -20px;
    }

    .music-play-tools {
        padding: 15px 20px;
    }

    .ideas-main-picture {
        width: 280px;
        background-position: 31% 0;

    }
}